CDSW_Twitter_Sentiment.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>ca88fcbc-0166-1000-1576-8bc3fbd7b6ff</groupId>
    <name>CDSW Twitter Sentiment</name>
    <snippet>
        <processGroups>
            <id>f3e1a7ee-147d-3bff-0000-000000000000</id>
            <parentGroupId>a07a2c35-3815-3061-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>f3e1a7ee-147d-3bff-aee0-6e769a05cd67</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>1a8f17cc-ed3b-31b2-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>1a8f17cc-ed3b-31b2-8b18-af0244f5a543</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>1987a7df-31b9-31bd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1987a7df-31b9-31bd-855c-9297561bc841</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>verypositive</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>624b4c37-0289-3fc4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>624b4c37-0289-3fc4-9294-b9a772f56046</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>44399865-30cf-35cb-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>44399865-30cf-35cb-9fba-16173474c22b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>8423db44-2ef3-3247-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8423db44-2ef3-3247-a797-0c37e554eb4d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>adb95bbb-c321-3d3d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>adb95bbb-c321-3d3d-925a-f4a15a9a5699</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5145567d-6d5d-3187-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>5145567d-6d5d-3187-82dd-3ada640f4d18</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>2d027a3c-f55b-3138-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2d027a3c-f55b-3138-8461-60bf42b92f06</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>negative</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>624b4c37-0289-3fc4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>624b4c37-0289-3fc4-9294-b9a772f56046</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>52b635d7-ef1e-3ca4-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>52b635d7-ef1e-3ca4-91f3-0415b67e1d89</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>ddf22ada-a531-30be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ddf22ada-a531-30be-8d07-acc0725aed3e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>8423db44-2ef3-3247-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8423db44-2ef3-3247-a797-0c37e554eb4d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>90c47723-9e3d-3f3d-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>90c47723-9e3d-3f3d-82aa-744124a5b76c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>c1808de9-8355-3557-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c1808de9-8355-3557-8c60-a7a3f70564e2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>95de276a-eac6-3d8b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>95de276a-eac6-3d8b-9631-b39b98b840bd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>98be75a3-5060-30e9-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>98be75a3-5060-30e9-aa39-20bf1c4c61c9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>9ab284ae-5650-35f5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9ab284ae-5650-35f5-b47c-143266db95b2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>ddf22ada-a531-30be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ddf22ada-a531-30be-8d07-acc0725aed3e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>abfb93e1-bda5-303e-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>abfb93e1-bda5-303e-bbb7-4c697ab12e9c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>adb95bbb-c321-3d3d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>adb95bbb-c321-3d3d-925a-f4a15a9a5699</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>6f354f22-654d-3419-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6f354f22-654d-3419-a4f6-dd21b5b64f62</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b1dd0406-41bf-353d-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>b1dd0406-41bf-353d-a088-9cbde3bb9771</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>6f354f22-654d-3419-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6f354f22-654d-3419-a4f6-dd21b5b64f62</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>c1808de9-8355-3557-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c1808de9-8355-3557-8c60-a7a3f70564e2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b7f89e6e-2f81-3b15-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>b7f89e6e-2f81-3b15-9661-574666376f3d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <bends>
                        <x>1661.0802023028712</x>
                        <y>3594.6876813970007</y>
                    </bends>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>9ab284ae-5650-35f5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9ab284ae-5650-35f5-b47c-143266db95b2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>ddf22ada-a531-30be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ddf22ada-a531-30be-8d07-acc0725aed3e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c4ba9c8d-172d-336c-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>c4ba9c8d-172d-336c-9af2-debf5cec836e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>624b4c37-0289-3fc4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>624b4c37-0289-3fc4-9294-b9a772f56046</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>955047de-65c9-3340-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>955047de-65c9-3340-beb4-022f43809c9c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cedd2f39-9685-38e9-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>cedd2f39-9685-38e9-9df8-4c2e77c3643a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>ee9b2b0d-5bde-3879-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ee9b2b0d-5bde-3879-86e4-885b3d60cbd5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>neutral</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>624b4c37-0289-3fc4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>624b4c37-0289-3fc4-9294-b9a772f56046</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f133a78f-1344-3730-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>f133a78f-1344-3730-ac3f-d15aebcddfa6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <bends>
                        <x>2250.999779110863</x>
                        <y>3456.0117643447147</y>
                    </bends>
                    <bends>
                        <x>2250.999779110863</x>
                        <y>3506.0117643447147</y>
                    </bends>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>ddf22ada-a531-30be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ddf22ada-a531-30be-8d07-acc0725aed3e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>ddf22ada-a531-30be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ddf22ada-a531-30be-8d07-acc0725aed3e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f26e99ef-8637-3cd4-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>f26e99ef-8637-3cd4-8a26-ac59b8ac5261</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>7e513475-b27a-38d4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7e513475-b27a-38d4-b593-a757ac62005a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>negative</selectedRelationships>
                    <selectedRelationships>positive</selectedRelationships>
                    <selectedRelationships>verypositive</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>624b4c37-0289-3fc4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>624b4c37-0289-3fc4-9294-b9a772f56046</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f3890397-6e8f-342f-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>f3890397-6e8f-342f-9203-ca0d00cb1894</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>ddf22ada-a531-30be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ddf22ada-a531-30be-8d07-acc0725aed3e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>dc6add24-e390-3652-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dc6add24-e390-3652-ab56-dbecadc84d5f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f957c4be-7a22-35a0-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <versionedComponentId>f957c4be-7a22-35a0-a928-4cb6784ffbea</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>955047de-65c9-3340-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>955047de-65c9-3340-beb4-022f43809c9c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f3e1a7ee-147d-3bff-0000-000000000000</groupId>
                        <id>9ab284ae-5650-35f5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9ab284ae-5650-35f5-b47c-143266db95b2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>1987a7df-31b9-31bd-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1620.879906063988</x>
                        <y>4384.091842469715</y>
                    </position>
                    <versionedComponentId>1987a7df-31b9-31bd-855c-9297561bc841</versionedComponentId>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>2d027a3c-f55b-3138-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>2457.9198230561756</x>
                        <y>4287.011764344715</y>
                    </position>
                    <versionedComponentId>2d027a3c-f55b-3138-8461-60bf42b92f06</versionedComponentId>
                    <bundle>
                        <artifact>nifi-slack-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>webhook-url</key>
<value>
    <name>webhook-url</name>
</value>
                            </entry>
                            <entry>
<key>webhook-text</key>
<value>
    <name>webhook-text</name>
</value>
                            </entry>
                            <entry>
<key>channel</key>
<value>
    <name>channel</name>
</value>
                            </entry>
                            <entry>
<key>username</key>
<value>
    <name>username</name>
</value>
                            </entry>
                            <entry>
<key>icon-url</key>
<value>
    <name>icon-url</name>
</value>
                            </entry>
                            <entry>
<key>icon-emoji</key>
<value>
    <name>icon-emoji</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>webhook-url</key>
                            </entry>
                            <entry>
<key>webhook-text</key>
<value>${msg:append(" User:"):append(${user_name}):append(${handle}):append(" Geo:"):append(${coordinates}):append(${geo}):append(${location}):append(${place}):append(" Hashtags:"):append(${hashtags}):append(" Polarity:"):append(${polarity}):append(" Subjectivity:"):append(${subjectivity}):append(" Friends Count:"):append(${friends_count}):append(" Followers Count:"):append(${followers_count}):append(" Retweet Count:"):append(${retweet_count}):append(" Source:"):append(${source}):append(" Time:"):append(${time}):append(" Tweet ID:"):append(${tweet_id})}</value>
                            </entry>
                            <entry>
<key>channel</key>
<value>#general</value>
                            </entry>
                            <entry>
<key>username</key>
                            </entry>
                            <entry>
<key>icon-url</key>
                            </entry>
                            <entry>
<key>icon-emoji</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSlack</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.slack.PutSlack</type>
                </processors>
                <processors>
                    <id>624b4c37-0289-3fc4-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1780.119896298363</x>
                        <y>3995.6116178603397</y>
                    </position>
                    <versionedComponentId>624b4c37-0289-3fc4-9294-b9a772f56046</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>negative</key>
<value>
    <name>negative</name>
</value>
                            </entry>
                            <entry>
<key>neutral</key>
<value>
    <name>neutral</name>
</value>
                            </entry>
                            <entry>
<key>positive</key>
<value>
    <name>positive</name>
</value>
                            </entry>
                            <entry>
<key>verypositive</key>
<value>
    <name>verypositive</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>negative</key>
<value>${polarity:toDecimal():lt(0)}</value>
                            </entry>
                            <entry>
<key>neutral</key>
<value>${polarity:toDecimal():equals(0)}</value>
                            </entry>
                            <entry>
<key>positive</key>
<value>${polarity:toDecimal():gt(0):and(${polarity:toDecimal():lt(1)})}</value>
                            </entry>
                            <entry>
<key>verypositive</key>
<value>${polarity:toDecimal():equals(1)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>negative</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>neutral</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>positive</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>verypositive</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>6f354f22-654d-3419-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1803.999779110863</x>
                        <y>2822.0117643447147</y>
                    </position>
                    <versionedComponentId>6f354f22-654d-3419-a4f6-dd21b5b64f62</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>accessKey</key>
<value>
    <name>accessKey</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>accessKey</key>
<value>{"accessKey":"mzpu8j7kav775mkrcw0vug6skqxzcvxz","request":{"sentence":"${msg:replaceAll('\"', ''):replaceAll('\n','')}"}}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Build Call</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>7e513475-b27a-38d4-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1226.839867001488</x>
                        <y>4252.691940125965</y>
                    </position>
                    <versionedComponentId>7e513475-b27a-38d4-b593-a757ac62005a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
<value>
    <name>s3-object-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>
    <name>s3-object-remove-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>
    <name>Storage Class</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
<value>
    <name>Expiration Time Rule</name>
</value>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>
    <name>FullControl User List</name>
</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>
    <name>Read Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>
    <name>Write Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>
    <name>Read ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>
    <name>Write ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>
    <name>canned-acl</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>
    <name>Multipart Threshold</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>
    <name>Multipart Part Size</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>
    <name>Multipart Upload AgeOff Interval</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>
    <name>Multipart Upload Max Age Threshold</name>
</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>
    <name>server-side-encryption</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Object Key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>Bucket</key>
                            </entry>
                            <entry>
<key>Content Type</key>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>Standard</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-west-2</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>${s3.permissions.full.users}</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>${s3.permissions.read.users}</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>${s3.permissions.write.users}</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>${s3.permissions.readacl.users}</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>${s3.permissions.writeacl.users}</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>${s3.owner}</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>${s3.permissions.cannedacl}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>60 min</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>7 days</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>None</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutS3Object</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                </processors>
                <processors>
                    <id>8423db44-2ef3-3247-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1770.999779110863</x>
                        <y>3200.0117643447147</y>
                    </position>
                    <versionedComponentId>8423db44-2ef3-3247-a797-0c37e554eb4d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>accessKey</key>
<value>
    <name>accessKey</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>accessKey</key>
<value>$.accessKey</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>955047de-65c9-3340-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1781.9999011811756</x>
                        <y>3799.9316862197147</y>
                    </position>
                    <versionedComponentId>955047de-65c9-3340-beb4-022f43809c9c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>polarity</key>
<value>
    <name>polarity</name>
</value>
                            </entry>
                            <entry>
<key>subjectivity</key>
<value>
    <name>subjectivity</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>polarity</key>
<value>$.response[0]</value>
                            </entry>
                            <entry>
<key>subjectivity</key>
<value>$.response[1]</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Extract Polarity and Subjectivity</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>95de276a-eac6-3d8b-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1811.5082266848644</x>
                        <y>2455.0117643447147</y>
                    </position>
                    <versionedComponentId>95de276a-eac6-3d8b-9631-b39b98b840bd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-social-media-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Twitter Endpoint</key>
<value>
    <name>Twitter Endpoint</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Key</key>
<value>
    <name>Consumer Key</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
<value>
    <name>Consumer Secret</name>
</value>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>
    <name>Access Token</name>
</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
<value>
    <name>Access Token Secret</name>
</value>
                            </entry>
                            <entry>
<key>Languages</key>
<value>
    <name>Languages</name>
</value>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
<value>
    <name>Terms to Filter On</name>
</value>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
<value>
    <name>IDs to Follow</name>
</value>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
<value>
    <name>Locations to Filter On</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Twitter Endpoint</key>
<value>Filter Endpoint</value>
                            </entry>
                            <entry>
<key>Consumer Key</key>
<value>UC6XbMnYMN7EoBWgp3c39a8t5</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>1006391-yBgxp4TPQ9009xycYdWMkmxrFNmVJFeiF6suhm2scE</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
                            </entry>
                            <entry>
<key>Languages</key>
<value>en</value>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
<value>hadoop,hortonworks,tensorflow,hbase,apachemxnet,apachenifi,cloudera,hive</value>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>120 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Twitter Social Big Data Terms</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.twitter.GetTwitter</type>
                </processors>
                <processors>
                    <id>9ab284ae-5650-35f5-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1773.1606254948792</x>
                        <y>3615.8836179805367</y>
                    </position>
                    <versionedComponentId>9ab284ae-5650-35f5-b47c-143266db95b2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>content.type</key>
<value>
    <name>content.type</name>
</value>
                            </entry>
                            <entry>
<key>content-type</key>
<value>
    <name>content-type</name>
</value>
                            </entry>
                            <entry>
<key>media.type</key>
<value>
    <name>media.type</name>
</value>
                            </entry>
                            <entry>
<key>media-type</key>
<value>
    <name>media-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>content.type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>content-type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>media.type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>media-type</key>
<value>application/json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>adb95bbb-c321-3d3d-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1785.999779110863</x>
                        <y>3011.0117643447147</y>
                    </position>
                    <versionedComponentId>adb95bbb-c321-3d3d-925a-f4a15a9a5699</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>accessKey</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>c1808de9-8355-3557-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1807.9999011811756</x>
                        <y>2642.152667040744</y>
                    </position>
                    <versionedComponentId>c1808de9-8355-3557-8c60-a7a3f70564e2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>coordinates</key>
<value>
    <name>coordinates</name>
</value>
                            </entry>
                            <entry>
<key>ext_media</key>
<value>
    <name>ext_media</name>
</value>
                            </entry>
                            <entry>
<key>favourites_count</key>
<value>
    <name>favourites_count</name>
</value>
                            </entry>
                            <entry>
<key>followers_count</key>
<value>
    <name>followers_count</name>
</value>
                            </entry>
                            <entry>
<key>friends_count</key>
<value>
    <name>friends_count</name>
</value>
                            </entry>
                            <entry>
<key>geo</key>
<value>
    <name>geo</name>
</value>
                            </entry>
                            <entry>
<key>handle</key>
<value>
    <name>handle</name>
</value>
                            </entry>
                            <entry>
<key>hashtags</key>
<value>
    <name>hashtags</name>
</value>
                            </entry>
                            <entry>
<key>language</key>
<value>
    <name>language</name>
</value>
                            </entry>
                            <entry>
<key>listed_count</key>
<value>
    <name>listed_count</name>
</value>
                            </entry>
                            <entry>
<key>location</key>
<value>
    <name>location</name>
</value>
                            </entry>
                            <entry>
<key>media_url</key>
<value>
    <name>media_url</name>
</value>
                            </entry>
                            <entry>
<key>msg</key>
<value>
    <name>msg</name>
</value>
                            </entry>
                            <entry>
<key>place</key>
<value>
    <name>place</name>
</value>
                            </entry>
                            <entry>
<key>profile_image_url</key>
<value>
    <name>profile_image_url</name>
</value>
                            </entry>
                            <entry>
<key>retweet_count</key>
<value>
    <name>retweet_count</name>
</value>
                            </entry>
                            <entry>
<key>source</key>
<value>
    <name>source</name>
</value>
                            </entry>
                            <entry>
<key>statuses_count</key>
<value>
    <name>statuses_count</name>
</value>
                            </entry>
                            <entry>
<key>time</key>
<value>
    <name>time</name>
</value>
                            </entry>
                            <entry>
<key>time_zone</key>
<value>
    <name>time_zone</name>
</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>
    <name>timestamp</name>
</value>
                            </entry>
                            <entry>
<key>tweet_id</key>
<value>
    <name>tweet_id</name>
</value>
                            </entry>
                            <entry>
<key>unixtime</key>
<value>
    <name>unixtime</name>
</value>
                            </entry>
                            <entry>
<key>urls</key>
<value>
    <name>urls</name>
</value>
                            </entry>
                            <entry>
<key>user_description</key>
<value>
    <name>user_description</name>
</value>
                            </entry>
                            <entry>
<key>user_mentions</key>
<value>
    <name>user_mentions</name>
</value>
                            </entry>
                            <entry>
<key>user_mentions_name</key>
<value>
    <name>user_mentions_name</name>
</value>
                            </entry>
                            <entry>
<key>user_name</key>
<value>
    <name>user_name</name>
</value>
                            </entry>
                            <entry>
<key>user_url</key>
<value>
    <name>user_url</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>coordinates</key>
<value>$.coordinates</value>
                            </entry>
                            <entry>
<key>ext_media</key>
<value>$.extended_entities.media[*].media_url</value>
                            </entry>
                            <entry>
<key>favourites_count</key>
<value>$.user.favourites_count</value>
                            </entry>
                            <entry>
<key>followers_count</key>
<value>$.user.followers_count</value>
                            </entry>
                            <entry>
<key>friends_count</key>
<value>$.user.friends_count</value>
                            </entry>
                            <entry>
<key>geo</key>
<value>$.geo</value>
                            </entry>
                            <entry>
<key>handle</key>
<value>$.user.screen_name</value>
                            </entry>
                            <entry>
<key>hashtags</key>
<value>$.entities.hashtags[*].text</value>
                            </entry>
                            <entry>
<key>language</key>
<value>$.lang</value>
                            </entry>
                            <entry>
<key>listed_count</key>
<value>$.user.listed_count</value>
                            </entry>
                            <entry>
<key>location</key>
<value>$.user.location</value>
                            </entry>
                            <entry>
<key>media_url</key>
<value>$.entities.media[*].media_url</value>
                            </entry>
                            <entry>
<key>msg</key>
<value>$.text</value>
                            </entry>
                            <entry>
<key>place</key>
<value>$.place.full_name</value>
                            </entry>
                            <entry>
<key>profile_image_url</key>
<value>$.user.profile_image_url</value>
                            </entry>
                            <entry>
<key>retweet_count</key>
<value>$.retweet_count</value>
                            </entry>
                            <entry>
<key>source</key>
<value>$.source</value>
                            </entry>
                            <entry>
<key>statuses_count</key>
<value>$.user.statuses_count</value>
                            </entry>
                            <entry>
<key>time</key>
<value>$.created_at</value>
                            </entry>
                            <entry>
<key>time_zone</key>
<value>$.user.time_zone</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>$.timestamp_ms</value>
                            </entry>
                            <entry>
<key>tweet_id</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>unixtime</key>
<value>$.timestamp_ms</value>
                            </entry>
                            <entry>
<key>urls</key>
<value>$.urls[*].url</value>
                            </entry>
                            <entry>
<key>user_description</key>
<value>$.user.description</value>
                            </entry>
                            <entry>
<key>user_mentions</key>
<value>$.user_mentions[*].screen_name</value>
                            </entry>
                            <entry>
<key>user_mentions_name</key>
<value>$.user_mentions[*].name</value>
                            </entry>
                            <entry>
<key>user_name</key>
<value>$.user.name</value>
                            </entry>
                            <entry>
<key>user_url</key>
<value>$.user.url</value>
                            </entry>
                        </properties>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Extract Social Attributes</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>dc6add24-e390-3652-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1149.000023251488</x>
                        <y>3113.0117643447147</y>
                    </position>
                    <versionedComponentId>dc6add24-e390-3652-ab56-dbecadc84d5f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{"accessKey":"mzpu8j7kav775mkrcw0vug6skqxzcvxz","request":{"sentence":"This is great"}}</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>20 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>ddf22ada-a531-30be-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>1787.999779110863</x>
                        <y>3416.0117643447147</y>
                    </position>
                    <versionedComponentId>ddf22ada-a531-30be-8d07-acc0725aed3e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://cdsw-hdp-3.vpc.cloudera.com/api/altus-ds-1/models/call-model</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>2048</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Call Cloudera Data Science Workbench</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>ee9b2b0d-5bde-3879-0000-000000000000</id>
                    <parentGroupId>f3e1a7ee-147d-3bff-0000-000000000000</parentGroupId>
                    <position>
                        <x>2023.8399890718006</x>
                        <y>4380.211959657215</y>
                    </position>
                    <versionedComponentId>ee9b2b0d-5bde-3879-86e4-885b3d60cbd5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <name>CDSW</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>02/06/2019 12:34:54 EST</timestamp>
</template>
